@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&display=swap');

:root {
    --ifm-font-family-base: 'Quicksand', sans-serif;
    --ifm-background-color: #F3F9FF;
    --ifm-navbar-background-color: #F3F9FF;
    --ifm-footer-background-color: #F3F9FF;
    --ifm-link-color: #4239CB;
    --ifm-color-primary: #000;
    --ifm-menu-color-active: #262223;
    --prism-background-color: #333;
}

html[data-theme='dark'] {
    --ifm-color-primary: #aeffde;
    --ifm-background-color: #1c1c1c;
    --ifm-link-color: #4239CB;
    --ifm-menu-color-active: #aeffde;
    --ifm-navbar-background-color: #333;
    --ifm-footer-background-color: #333;
}

.theme-code-block,
.prism-code {
    background-color: #333 !important;
    color: #f8f8f2 !important;
    border-radius: 6px;
}

.theme-code-block .token.function,
.prism-code .token.function,
span.token.function[style] {
    color: #aeffde !important;
}
